<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.re.ng.uu.comic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
            android:name=".APP"
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".view.activity.OrderHistoryActivity" />
        <activity android:name=".view.activity.OpenVipActivity" />
        <activity android:name=".view.activity.RankingActivity" />
        <activity android:name=".view.activity.SearchResultActivity" />
        <activity android:name=".view.activity.MoreActivity" />
        <activity android:name=".view.activity.TimeActivity" />
        <activity android:name=".view.activity.ShareActivity" />
        <activity android:name=".view.activity.WalletActivity" />
        <activity android:name=".view.activity.BindPhoneActivity" />
        <activity android:name=".view.activity.ExChangerVipActivity" />
        <activity android:name=".view.activity.SearchActivity" />
        <activity android:name=".view.activity.RechargeActivity" />
        <activity android:name=".view.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name=".view.activity.LoginActivity"
                android:launchMode="singleTask" />
        <activity android:name=".view.activity.RegisterActivity" />
        <activity android:name=".view.activity.ForgetPwdActivity" />
        <activity android:name=".view.activity.BookDetailActivity" />
        <activity android:name=".view.activity.ComicActivity" />
        <activity android:name=".view.activity.WebPurchaseActivity" />
        <activity android:name=".view.activity.TagBooksActivity" />
        <activity android:name=".view.activity.MainActivity" />

        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="${applicationId}.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>